.navbar {
    list-style-type: none;
    background-color: #0c2974;
}

.navitems {
    margin-top: 10px;
    text-align: center;
    clear: right;
}

.navitem {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navitem a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
  }

.settingslogo {
    height: 2.2em;
    padding: 3px;
    display: flex;
    margin-right: 4px;
    margin-top: 8px;
    justify-content: right;
    vertical-align: middle;
}